html {
	font-size: 1em;
    line-height: 1.5em;
}

body {
	font-family: "Karmina-sans", sans-serif;
	font-style: normal;
	font-weight:300;
	}

.wrapper {
	  width: 100%;
	  margin: 0;
	  padding: 0;
	  background-color: WhiteSmoke;
}

.overlay {
  background-color: #fff;
  padding: 1em;
  width: 30em;
  margin-bottom: -1em;
  opacity: .6;
}

.black {
	background-color: #990033;
/*	height: 5em;*/
}

footer {
	background-color: #990033;
/*	height: 10em;*/
	text-align: center;}

footer h1 {
	color: #fff !important;
	line-height: 1em;
	margin: 2em auto;
}

/* ======================== TYPOGRAPHY ========================== */
h1 {
	font-family: "bello-pro", Helvetica, !important;
	font-size: 5em;
}


h2 {
	font-weight:300;
	font-size:6.85em;
}

h3 {
	font-size:3.5em;
	line-height:1em;
	padding-top: 0.5em !important;
	margin-bottom: 0.5em;
	font-style: normal;
}

h4 {
	font-size:2.6em;
}

h5 {
	font-size:1.618em;
}

p {
	font-size:1.618em;
	font-weight:300;
}

.intro {
	background-color: #990033;
	max-width: 100%;
}

.first-paragraph{
	margin-top:1em;
	font-size:2em;
	font-weight:300;
	line-height: 1.375em;
	padding-bottom: 1em;
}

p.lead-paragraph{
	color: #A6A6A6;
	line-height: 2em;
}

.title-story {
  font-size: 2em;
  line-height: 1em;
  font-weight: 600;
  color: #FFF;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
  vertical-align: middle; 
}

.title-story-copy {
	font-weight: 300;
	color: #FFF;
}

figcaption {
	color: #A9A9A9;
	padding-top: 1em;
	text-align: center;
	font-size: 0.80em;
}

/* ======================== IMAGES AND MEDIA ========================== */

.hero {
	max-width: 100%;
	margin: 0 auto;
	padding-bottom: 2em;
	margin-bottom: 1em;
}

.hr-style {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);}

.seal {
	display: block;
	margin: 0 auto;
	padding: 2em 0;
	opacity: 1;
	max-height: 50%;
	max-width: 50%;
	}

.header-image-bg {
  background: #FFF url(../img/sanders-dedication-hero.jpg) no-repeat center;
  height: 400px;
  max-width: 100%;
  padding: 2em;
  margin: 0 auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.orbit-container {
  width: 100%;
  height: 500px;
}
  
.orbit-slides-container {
  width: 100%;
  height: 100% !important;}
  
.th {
	margin-right: 1em;
	margin-bottom: 1em;
}


/* ======================== LISTS ========================== 

ul.circle li {
	padding-bottom: 1em;
}

ul.no-bullet li {
	padding-bottom: 1em;
}  
  
/* ======================== ACCORDION ========================== */

.story-accordion {
	height: 15em;
	overflow: hidden;
}

.alert-box.info p {
 	font-size: 0.8125rem;
 }
 
 /* ======================== LINKS ========================== */
 
 .top a {
 	float: right;
 	color:#ADADAD !important;
 	text-decoration:none;
 	text-align: right;
 	font-size: x-small;
 	font-weight: 300;
 	padding: 1em;

 }
 
 .top a:hover{
 	color: #ADADAD;
 	text-decoration:none;}
 
/* ======================== TABLET STYLING ========================== */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */

	.header-image-bg {
	  height: 500px;
	  max-width: 100%;
	}
	
	.seal {
		max-width: 20%;
		max-height: 20%;
	}

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
	.header-image-bg {
	  height: 500px;
	  max-width: 100%;
	}

}
/* ======================== DESKTOP STYLING ========================== */

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1025px) {
/* Styles */
	
	.header-image-bg {
	  height: 900px;}
	
	.accordion .content {
	  padding: 5rem;
	  font-size: 0.875rem; } /* my addition */ 
	  
	.title-story-main {
		color: #990033;
		margin-top: 20em;
	}
	.seal {
		max-width: 30%;
		max-height: 30%;
	}
	
/*	img {
		margin: 0 auto !important;
		max-width: 100%;
	}*/
		   
}